/*-- navbar --*/
.navbar {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 35%);
  display: flex;
  padding: 0.5rem 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
}

.navbar-brand, .navbar-brand.navbar-brand-logo {
  display: flex;
  padding: 0;
  margin-right: 0;
}

.navbar-brand.navbar-brand-logo {
  margin-left: 1.5em;
}

@media (max-width: 991px) {
  .navbar-brand.navbar-brand-logo {
    margin: 0 10vw 0 5vw;
  }
}

.navbar-logo {
  max-height: 150px;
  width: auto;
}

@media (max-width: 991px) {
  .navbar-logo {
    max-height: 95px;
    align-items: baseline;
  }
}

.navbar-toggler {
  border: none;
  background: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: red;
  font-weight: 400;
}

.nav-item {
  margin-top: 5rem; 
  transition: all 0.5s ease-in;
}

.nav-item:hover {
  text-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: 0.5rem;
  }
}

@media (max-width: 991px) {
  .nav-item {
    margin: 0;
  }
}

.aa-DetachedSearchButton {
  margin-top: 5rem;
}

@media (max-width: 991px) {
  .aa-DetachedSearchButton {
    margin-top: 0;
  }
}

.dropdown-item {
  font-family: inherit;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 300;
  color: black;
  text-align: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
  border: 0;
}

/*-- quarto titles --*/
#title-block-header {
  margin: -1px 0 1.8em;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 30%);
  position: relative;
  background-color: #E3DFFD;
}

.quarto-title-banner {
  margin-bottom: 0.75em;
  padding: 2.5em 0 0;
  background-color: #E3DFFD;
}

.quarto-title-banner .quarto-title .title {
  font-weight: 500;
}

#title-block-header.quarto-title-block.default .description,
.lead {
  margin-top: 1.5em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: black;
}

/*--subtitle lead--*/
.quarto-title .quarto-categories {
  display: flex;
  column-gap: 0.4em;
  margin-top: 1.9em;
  padding-bottom: 0.5em;
}

.quarto-title .quarto-categories .quarto-category {
  padding: 0.25em 0.75em;
  font-family: 'Oswald', sans-serif;
  font-size: .9em;
  font-weight: 400;
  color: red;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 0.25rem;
}

.quarto-title-meta {
  margin-bottom: 2.5em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-weight: 300;
  opacity: 0.8;
}

/*-- main content --*/
body.nav-fixed,
#quarto-content {
  background-color: #F6F6F6;
}

#quarto-content > * {
  padding-top: 0;
}

h2.anchored {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0.625rem 1.25rem;
  border-left: 0.25rem solid black;
}

.blockquote {
  font-size: inherit;
  padding: 1rem 1.5rem;
  color: black;
}

.panel-caption, 
.figure-caption, 
figcaption {
  color: black;
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.citation a, 
.footnote-ref {
  color: red;
  font-weight: 700;
}

.citation a:hover {
  color: black
}

div.csl-entry {
  color: black;
  font-weight: 400;
}

#quarto-appendix.default {
  background-color: #f0eeeb;
  padding-top: 1.5em;
  margin-top: 2em;
  z-index: 998;
}

::marker {
  font-variant-numeric: normal;
}

.article-btn {
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 1.5em 0;
  cursor: pointer;
  width: 100%;
}

.article-btn p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.article-btn a {
  color: white;
  font-weight: 500;
}

.further-info {
  margin: 1.5em 0;
  padding: 1.5em 0 0.75em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.toc-actions a {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  color: black;
}

.toc-actions a:hover {
  color: red;
}

.toc-actions .bi:before {
  color: black;
}

.column-margin figcaption, 
.margin-caption, 
div.aside, 
aside, 
.column-margin p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: .825rem;
}

.column-margin, 
.figure-caption a {
  color: red;
  font-weight: 700;
}

.figure-caption a:hover {
  color: black;
}

.pullquote-container {
  padding: 1em 0;
}

.pullquote-grid {
  padding-bottom: 1.8em;
}

.pullquote p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: calc(1.345rem + 0.85vw);
  color: black;
  margin: 0;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .pullquote p {
    font-size: 2rem;
  }
}

.pullquote img {
  margin: 0;
}

/*-- font styles --*/
h1, 
.h1,
h2, 
.h2,
h3, 
.h3,
h4, 
.h4,
h5, 
.h5,
h6, 
.h6 {
  font-family: 'Oswald';
  letter-spacing: normal;
}

h1, 
.h1 {
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

h2, 
.h2 {
  font-weight: 500;
  color: black;
  text-transform: none;
  border-bottom: none;
}

@media (max-width: 991.98px) {
  #quarto-content section:first-of-type h2:first-of-type,
  #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 1.5rem;
  }
}

h3, 
.h3,
h5, 
.h5 {
  font-weight: 500;
  text-transform: none;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: black;
  letter-spacing: normal;
}

a,
p > a,
b, 
strong a,
ul a,
dd a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}

.table {
  color: black;
}

.table th, 
.table td {
  padding: 0.75rem;
}

th {
  text-transform: none;
}

tr {
  border-color: black;
}


/*-- listing styles --*/
div.quarto-post {
  border-bottom: 1px solid rgba(0,0,0,.100);
}

div.quarto-post .metadata,
.nav-page .nav-page-text {
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase;
}

div.quarto-post .listing-categories .listing-category,
.quarto-grid-item .listing-categories .listing-category {
  color: red;
  border: solid 1px red;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: .75em;
}

div.quarto-post a {
  color: black;
}

.input-group-sm>.form-select {
  padding: 0.5rem 1rem;
}

.quarto-listing-category-title,
.quarto-listing-category .category,
.quarto-listing-category .category.active {
  font-weight: 500;
  font-size: .825rem;
}

.quarto-listing-category .category.active {
  color: red;
}

.nav-page .bi {
  color: black;
}

/*-- grid listing --*/
.card {
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

.card:hover {
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

.card:hover .card-img-top img {
  opacity: 0.7;
  transform: scale(1.15);
}

.card .card-img-top img {
  transition: all .9s ease; 
}

.quarto-grid-item {
  overflow: hidden;
  border: none;
  background-color: #f0eeeb;
  border-radius: 5px;
}

.quarto-grid-item div.post-contents {
  padding: 1rem 1rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.quarto-grid-item .card-title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: .5em;
}

.quarto-grid-item .card-attribution {
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: black;
  flex-grow: 10;
  align-items: flex-end;
}

.quarto-grid-item .card-attribution.justify {
  justify-content: left;
}

.quarto-grid-item img.thumbnail-image {
  object-fit: cover;
  height: 188px !important;
}

/*-- Callout styles --*/
.callout {
  background-color: white;
}

/*-- SourceCode styles --*/
div.sourceCode {
  background-color: rgba(233,236,239,.65);
  border: 1px solid rgba(233,236,239,.65);
  border-radius: 0.25rem;
}

/*-- Homepage styles --*/

.content-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.header-text p {
  text-align: center;
  margin-bottom: 0;
}

.header-block {
  font-weight: bold;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.listing-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1.8em;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.listing-block h2 {
  color: black;
  text-transform: uppercase;
}

.listing-block h2:hover {
  color: red;
}

/*-- Sidebar --*/
.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid red;
    color: red !important;
}

.sidebar nav[role=doc-toc]>ul a {
    border-left: 1px solid #e9eeef;
    padding-left: 0.6rem;
}

/*-- Nav Footer Styles --*/
.nav-footer {
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 100%);
  color: black;
  display: grid;
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

body:not(.floating) .nav-footer {
  border-top: 1px solid rgba(0,0,0,.05);
}

.nav-footer a {
  color: black;
}

.nav-footer a:hover {
  color: red;
}

.nav-footer .nav-footer-left,
.nav-footer .nav-footer-right,
.nav-footer .toc-actions {
  font-size: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-footer-center .footer-items .nav-link {
  text-transform: uppercase;
}

.nav-footer-center .footer-items .nav-item {
  font-family: 'Montserrat';
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-footer .toc-actions {
  color: #ecf2ff;
}


/*--- Back to Top ---*/
#quarto-back-to-top {
  color: black;
  bottom: 120px;
  border-radius: 30px;
  left: 50%;
}

/*--- Profile Photo ---*/
.round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20%;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 100%);
}

/*--- Remove Table Border ---*/
.table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

/*--- Social Media Icon ---*/
.fa {
  padding-left: 0;
  padding-bottom: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: #939bc9;
  opacity: 0.7;
}

.fa-envelope {
  color: #1E3050;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-github {
  color: black;
}

/*--- contact form ---*/

/* first name & last name in same row, 50% width */
.form-group.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

/* contact form Animations */
@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes inputSlideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes labelSlideIn {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes buttonSlideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Elements with animations */
.container {
    animation: fadeIn 1s ease-out;
}

label {
    animation: labelSlideIn 1s ease-out;
}

.btn {
    animation: buttonSlideIn 1s ease-out;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

/* Button hover states */
.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #939bc9;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/*--- profile animation ---*/
.round {
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.round:hover {
  transform: scale(1.1);
}