/*-- navbar --*/
.navbar {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 35%);
  display: flex;
  padding: 0.5rem 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 11%);
}

.navbar-container {
    width: 98%;
}

.navbar-brand, .navbar-brand.navbar-brand-logo {
  display: flex;
  padding: 0;
  margin-right: 0;
}

.navbar-brand.navbar-brand-logo {
  margin-left: 0em;
}

@media (max-width: 991px) {
  .navbar-brand.navbar-brand-logo {
    margin: 0 10vw 0 5vw;
  }
}

.navbar-logo {
  max-height: 150px;
  width: auto;
}

@media (max-width: 991px) {
  .navbar-logo {
    max-height: 90px;
    align-items: baseline;
  }
}

.navbar .navbar-toggler {
  border-width: 0.1px;
  order: -1;
  margin-right: 0;
}

.navbar-toggler {
  border-radius: 3px;
  font-size: 1rem;
}

.navbar-toggler-icon {
  height: 2em;
  background-size: 150%;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.01rem;
}

.navbar-dark{
  background-color: #4c6793;
}

.navbar-dark .navbar-nav .nav-link {
  color: #4bbf73;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: white;
  font-weight: 400;
}

.nav-item {
  margin-top: 4rem; 
  transition: all 0.5s ease-in;
}

.nav-item:hover {
  text-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: 0rem;
  }
}

@media (max-width: 991px) {
  .nav-item {
    margin: 0;
  }
}

.aa-DetachedSearchButton {
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .aa-DetachedSearchButton {
    margin-top: -1rem;
  }
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    color: #4bbf73;
}

.dropdown-item {
  font-family: inherit;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 300;
  color: #4c6793;
  text-align: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #ced4da;
  border: 0;
}

.dropdown-item:hover {
  font-family: inherit;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  clear: both;
  font-weight: 300;
  color: red;
  text-align: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  border: 0;
}


/*-- quarto titles --*/
#title-block-header {
  /*--margin: -1px 0 1.8em;--*/
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
  padding: 0.5em 0 0;
  position: relative;
  background-color: #dee2e6;
  margin-block-end: 0;
}

.quarto-title-banner {
  margin-bottom: 0.1em;
  padding: 0.5em 0 0;
  background-color: #dee2e6;
}

p.subtitle {
  margin-top: 1em;
}

.quarto-title-banner .quarto-title .title {
  font-weight: 500;
}

#title-block-header.quarto-title-block.default .description,
.lead {
  margin-top: 1em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: black;
}

/*--subtitle lead--*/
.quarto-title .quarto-categories {
  display: flex;
  column-gap: 0.4em;
  margin-top: 1.9em;
  padding-bottom: 0.5em;
}

.quarto-title .quarto-categories .quarto-category a {
    color: #4C6793;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: .9em;
}


.quarto-title .quarto-categories .quarto-category {
  padding: 0.25em 0.75em;
  font-family: 'Oswald', sans-serif;
  font-size: .9em;
  font-weight: 400;
  color: #4C6793;
  text-transform: uppercase;
  border: 1px solid #4C6793;
  border-radius: 0.25rem;
}

.quarto-title-meta {
  margin-bottom: 1.5em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-weight: 300;
  opacity: 0.8;
}

/*-- main content --*/
body.nav-fixed,
#quarto-content {
  background-color: #F6F6F6;
}

#quarto-content > * {
  padding-top: 0;
}

h2.anchored {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0.625rem 1.25rem;
  border-left: 0.25rem solid black;
}

.blockquote {
  font-size: inherit;
  padding: 1rem 1.5rem;
  color: black;
}

.panel-caption, 
.figure-caption, 
figcaption {
  color: #94999c;
  font-family: Nunito sans;
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.citation a, 
.footnote-ref {
  color: #4BBF73;
  font-weight: 700;
}

.citation a:hover {
  color: black
}

div.csl-entry {
  color: black;
  font-weight: 400;
}

#quarto-appendix.default {
  background-color: #f0eeeb;
  padding-top: 1.5em;
  margin-top: 2em;
  z-index: 998;
}

::marker {
  font-variant-numeric: normal;
}

.article-btn {
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 1.5em 0;
  cursor: pointer;
  width: 100%;
}

.article-btn p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.article-btn a {
  color: white;
  font-weight: 500;
}

.further-info {
  margin: 1.5em 0;
  padding: 1.5em 0 0.75em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.toc-actions a {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  color: black;
}

.toc-actions a:hover {
  color: #4BBF73;
}

.toc-actions .bi:before {
  color: black;
}

.column-margin figcaption, 
.margin-caption, 
div.aside, 
aside, 
.column-margin p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: .825rem;
}

.column-margin, 
.figure-caption a {
  color: #4C6793;
  font-weight: 700;
}

.figure-caption a:hover {
  color: black;
}

.pullquote-container {
  padding: 1em 0;
}

.pullquote-grid {
  padding-bottom: 1.8em;
}

.pullquote p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: calc(1.345rem + 0.85vw);
  color: black;
  margin: 0;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .pullquote p {
    font-size: 2rem;
  }
}

.pullquote img {
  margin: 0;
}

/*-- font styles --*/
h1, 
.h1,
h2, 
.h2,
h3, 
.h3,
h4, 
.h4,
h5, 
.h5,
h6, 
.h6 {
  font-family: 'Oswald';
  letter-spacing: normal;
}

h1, 
.h1 {
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

h2, 
.h2 {
  font-weight: 500;
  color: black;
  text-transform: none;
  border-bottom: none;
}

@media (max-width: 991.98px) {
  #quarto-content section:first-of-type h2:first-of-type,
  #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 1.5rem;
  }
}

h3, 
.h3,
h5, 
.h5 {
  font-weight: 500;
  text-transform: none;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: black;
  letter-spacing: normal;
}

a,
p > a,
b, 
strong a,
ul a,
dd a {
  text-decoration: none;
  color: #4c6793;
  font-weight: 500;
}


a:hover,
p > a:hover,
b:hover, 
strong a:hover,
ul a:hover,
dd a:hover {
  text-decoration: none; 
  color: #4BBF73;
  font-weight: 500;
}




b, strong {
    font-weight: 500;
}

.table {
  color: black;
}

.table th, 
.table td {
  padding: 0.75rem;
}

th {
  text-transform: none;
}

tr {
  border-color: black;
}


/*-- listing styles --*/
div.quarto-post {
  border-bottom: 1px solid rgba(0,0,0,.100);
}

div.quarto-post .metadata,
.nav-page .nav-page-text {
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase;
}

div.quarto-post .listing-description {
  font-weight: 300;
}

div.quarto-post .listing-categories .listing-category,
.quarto-grid-item .listing-categories .listing-category {
  color: #4C6793;
  border: solid 1px #4C6793;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: .75em;
}

div.quarto-post a {
  color: black;
  font-weight: 300;
}

.input-group-sm>.form-select {
  padding: 0.5rem 1rem;
}

.quarto-listing-category-title,
.quarto-listing-category .category,
.quarto-listing-category .category.active {
  font-weight: 400;
  font-size: .825rem;
}

.quarto-listing-category .category.active {
  color: #4C6793;
}

.nav-page .bi {
  color: black;
}

/*-- grid listing --*/
.card {
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.20);
}

.card:hover {
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.25);
}

.card:hover .card-img-top img {
  opacity: 0.7;
  transform: scale(1.15);
}

.card .card-img-top img {
  transition: all .9s ease; 
}

.quarto-grid-item {
  overflow: hidden;
  border: none;
  background-color: #f0eeeb;
  border-radius: 5px;
}

.quarto-grid-item div.post-contents {
  padding: 1rem 1rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}

.quarto-grid-item .card-title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: .5em;
}

.quarto-grid-item .card-text {
  font-weight: 300;
}

.quarto-grid-item .card-attribution {
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: #007020;
  flex-grow: 10;
  align-items: flex-end;
}

.quarto-grid-item .card-attribution.justify {
  font-family: 'Nunito Sans';
  justify-content: left;
}

.quarto-grid-item img.thumbnail-image {
  object-fit: cover;
  height: 188px !important;
}

/*-- Listing pagination --*/
.page-item .page-link:hover {
    z-index: 3;
    color: #fff;
    background-color: #4bbf73;
    border-color: #4bbf73;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4c6793;
    border-color: #4c6793;
}

/*-- Callout styles --*/
.callout {
  background-color: white;
}

/*-- SourceCode styles --*/
div.sourceCode {
  background-color: rgba(233,236,239,.65);
  border: 1px solid rgba(233,236,239,.65);
  border-radius: 0.25rem;
}



p code:not(.sourceCode) {
  background-color: rgba(233,236,239,.65);
}

/*-- Homepage styles --*/

.content-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.header-text p {
  text-align: center;
  margin-bottom: 0;
}

.header-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 3em;
  box-sizing: border-box;
  border-bottom: 1px solid #4bbf73;
}

.listing-block {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1.8em;
  box-sizing: border-box;
  border-bottom: 1px solid #daf3e2;
}

.listing-block h2 {
  color: black;
  text-transform: uppercase;
}

.listing-block h2:hover {
  color: #4C6793;
}

/*-- Sidebar --*/
#quarto-margin-sidebar .quarto-listing-category-title {
    font-weight: 500;
}

.sidebar nav[role=doc-toc]>ul li a {
    color: #4C6793
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid #000000;
    color: #000000 !important;
}

.sidebar nav[role=doc-toc]>ul a {
    border-left: 1px solid #e9eeef;
    padding-left: 0.6rem;
}

/*-- Nav Footer Styles --*/
.nav-footer {
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
    background-color: #dee2e6;
    color: black;
    display: flex;
    font-family: 'Oswald';
    font-size: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body:not(.floating) .nav-footer {
    border-top: 1px solid rgba(0,0,0,.05);
}

.nav-footer a {
    color: #4bbf73;
}

.nav-footer a:hover {
    color: #4C6793;
}

.nav-footer .nav-item {
    margin-top: 0;
}

.nav-footer .nav-item.compact {
  margin-right: 0;
}

.nav-footer .nav-footer-left,
.nav-footer .nav-footer-right {
    position: relative;
    font-size: .825em;
}

.nav-footer-center {
    display: inline-flex;
    justify-content: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.nav-footer .nav-footer-center,
.nav-footer .toc-actions {
    font-size: 0;
    padding-bottom: 0;
    padding-top: 0;
}


/*--- Back to Top ---*/
#quarto-back-to-top {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"/></svg>')!important;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  bottom: 120px;
}

.bi.bi-arrow-up{
  display: none;
}


/*--- Profile Photo ---*/
.round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
}


/*--- Remove Table Border ---*/
.table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

/*--- Remove Table border collapse to separate ---*/
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

/*--- Social Media Icon ---*/
.fa {
  padding-left: 0;
  padding-bottom: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: #4C6793;
  opacity: 0.7;
}

.fa-envelope {
  color: #1E3050;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-github {
  color: black;
}

/*--- contact form ---*/

/* first name & last name in same row, 50% width */
.btn-secondary {
    color: #000;
    background-color: #4C6793;;
    border-color: #4C6793;
}

.container .form-control{
  border-radius: 10px;
}

.form-group.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}



/* contact form Animations */
@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes inputSlideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes labelSlideIn {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes buttonSlideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Contact Form Elements with animations */
.container {
    animation: fadeIn 1s ease-out;
}

.btn {
    animation: buttonSlideIn 1s ease-out;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

/* Button hover states */
.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
}

.btn-secondary:hover {
    background-color: #5a6268;
    color: #fff;
}

/*--- profile animation ---*/
.round {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.round:hover {
  transform: scale(1.1);
}

/*--- Horizontal Rule 分割线 in about page--*/
hr {
  border-bottom: 1px solid #4bbf73;
}


/*--- lightbox graph review ---*/
.glightbox-mobile .glightbox-container .gslide-title {
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
}

body:not(.glightbox-mobile) div.gslide-description .gslide-title {
  color: var(--quarto-body-color);
  background-color: var(--quarto-body-bg);
  text-transform: capitalize;
}